
@font-face {
    font-family: Charis SIL;
    src: local('Charis SIL'),
    url(fonts/CharisSIL-Regular.woff2) format('woff2'),
    url(fonts/CharisSIL-Regular.woff) format('woff');
    font-display: swap;
    size-adjust:96%;
  }
  @font-face {
    font-family: Charis SIL;
    font-style: italic;
    src: local('Charis SIL Italic'),
    url(fonts/CharisSIL-Italic.woff2) format('woff2'),
    url(fonts/CharisSIL-Italic.woff) format('woff');
    font-display: swap;
    size-adjust:96%;
  }
  @font-face {
      font-family: Charis SIL;
      font-weight: bold;
      src: local('Charis SIL Bold'),
      url(fonts/CharisSIL-Bold.woff2) format('woff2'),
      url(fonts/CharisSIL-Bold.woff) format('woff');
      font-display: swap;
      size-adjust:96%;
  }
  @font-face {
      font-family: Charis SIL;
      font-weight: bold;
      font-style: italic;
      src: local('Charis SIL Bold Italic'),
      url(fonts/CharisSIL-BoldItalic.woff2) format('woff2'),
      url(fonts/CharisSIL-BoldItalic.woff) format('woff');
      font-display: swap;
      size-adjust:96%;
  }
  
@media (prefers-color-scheme: dark) {   
    /* YOUR DARK THEME RULES */ 
    body{
        --bgcolor: #202020;
        --txtcolor: lightgray;
        --sanskritcolor:darkturquoise;
        --gendercolor: gold;
        --dropdownbg: #303030;
        --dropdowncolor: white;
        --txtlightcolor: darkgray;
        --refcolor: plum;
    }
}
@media (prefers-color-scheme: light) {   
    /* YOUR DARK THEME RULES */ 
    body{
        --bgcolor: #EEEEEE;
        --txtcolor: black;
        --sanskritcolor:rgb(0, 174, 177);
        --gendercolor:goldenrod;
        --dropdownbg: #E0E0E0;
        --dropdowncolor: black;
        --txtlightcolor: gray;
        --refcolor: orchid;
    }
}

body{
    background-color:var(--bgcolor);
    color:var(--txtcolor);
    font-family: 'Charis SIL', 'Gentium Plus', 'Cambria', 'Times New Roman', 'Arial', serif; 
}

@media (max-width: 600px) {
    body{
        line-height: 1.4em;
    }
}


lex{
    color:var(--gendercolor)
}


.dropdown{
    text-decoration: inherit;
    text-align:left;
    color: inherit;
}

s1 .dropdown{
    text-decoration: underline;
    -webkit-text-decoration-line: underline;
}
#word{
}
#definition{
    margin-left: -1em;
    /*position: relative; 
    left: -50px;*/
}


sk {
    font-style: italic;
    color:var(--sanskritcolor);
}
sk a{
    font-style: inherit;
    color:inherit;
    text-decoration: inherit;
}
s1 a{
    font-style: inherit;
    color:inherit;
    text-decoration: underline;
    -webkit-text-decoration-line: underline;
}
.parentheses {
    color: var(--txtlightcolor);
}

ls{
    font-variant: small-caps slashed-zero;
    color: var(--refcolor);
}


ls, ab{
    text-decoration: underline dotted;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-style: dotted;
}

.dropbtn {
    text-decoration:inherit;
    background-color: none;
  }
  
.dropdown {
    text-decoration:inherit;
    position: relative;
    display: inline-block;
}
  
.dropdowncontent {
display: none;
position: absolute;
background-color: var(--dropdownbg);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
  
.dropdowncontent a {
color: var(--dropdowntext);
padding: 12px 16px;
text-decoration: none;
display: block;
user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-webkit-user-select:none;
}
  
@media(hover: hover) and (pointer: fine) {
    .dropdowncontent a:hover {background-color: grey!important;}

    .dropdown:hover .dropdowncontent {display: block!important;}
    
    .dropdown:hover .dropbtn {background-color: grey!important;}
}

bot {
    color: green;
}
bio {
    color: orange;
}

#nav{
    
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    text-decoration: none;
    color: inherit
}

en a, #prev a, #next a{
    text-decoration: inherit;
    color: inherit
}
en a{
    pointer-events: none; /*disable MWen links*/
}

a.pc, a.root{
    text-decoration: none;
    vertical-align: super!important;
    font-size: 70%!important;
    color: var(--txtlightcolor)!important;
    
}
/*
html, body { scrollbar-width: none; }*/

etym {
    font-style: italic;
}

hom {
    color : var(--txtlightcolor);
}

ul li ul{
    padding-left: 1em;
  }

